# Task 2 Recommend Artist

In [1]:
import pandas as pd
import numpy as np

In [2]:
rating = pd.read_csv('W:\intern min project\spotify_data\data_by_artist.csv',usecols=['artists','count','popularity'])

In [3]:
song= pd.read_csv('W:\intern min project\spotify_data\data_w_genres.csv',usecols=['artists','genres'])

In [4]:
song.head()

                                             artists          genres
0                   "Cats" 1981 Original London Cast  ['show tunes']
1                          "Cats" 1983 Broadway Cast              []
2        "Fiddler On The Roof” Motion Picture Chorus              []
3     "Fiddler On The Roof” Motion Picture Orchestra              []
4  "Joseph And The Amazing Technicolor Dreamcoat"...              []

In [5]:
rating.head()

                                             artists  popularity  count
0                   "Cats" 1981 Original London Cast   38.000000     12
1                          "Cats" 1983 Broadway Cast   33.076923     26
2        "Fiddler On The Roof” Motion Picture Chorus   34.285714      7
3     "Fiddler On The Roof” Motion Picture Orchestra   34.444444     27
4  "Joseph And The Amazing Technicolor Dreamcoat"...   42.555556      9

In [6]:
data=pd.merge(song,rating,on='artists')

In [7]:
data.head()

,artists,genres,popularity,count
0,"""Cats"" 1981 Original London Cast",['show tunes'],38.000000,12
1,"""Cats"" 1983 Broadway Cast",[],33.076923,26
2,"""Fiddler On The Roof” Motion Picture Chorus",[],34.285714,7
3,"""Fiddler On The Roof” Motion Picture Orchestra",[],34.444444,27
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",[],42.555556,9

In [8]:
data.dropna()

,artists,genres,popularity,count
0,"""Cats"" 1981 Original London Cast",['show tunes'],38.000000,12
1,"""Cats"" 1983 Broadway Cast",[],33.076923,26
2,"""Fiddler On The Roof” Motion Picture Chorus",[],34.285714,7
3,"""Fiddler On The Roof” Motion Picture Orchestra",[],34.444444,27
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",[],42.555556,9
5,"""Joseph And The Amazing Technicolor Dreamcoat""...",[],34.166667,36
6,"""Mama"" Helen Teagarden",[],0.000000,2
7,"""Mista Dj Paul",[],36.000000,1
8,"""Test for Victor Young""",[],2.000000,2
9,"""Weird Al"" Yankovic","['antiviral pop', 'comedy rock', 'comic', 'par...",33.681818,132
10,$IMEON,[],62.666667,6
11,$NOT,"['east coast hip hop', 'gangster rap', 'hardco...",64.625000,8
12,$pyda,[],58.000000,1
13,$uicideBoy$,"['dark trap', 'new orleans rap', 'underground ...",61.647541,122
14,'Be More Chill' Ensemble,[],52.000000,1
15,'In The Heights' Original Broadway Company,"['broadway', 'show tunes']",46.588235,17
16,'Legally Blonde' Ensemble,"['broadway', 'hollywood', 'show tunes']",48.166667,12
17,'Legally Blonde' Greek Chorus,['show tunes'],49.000000,2
18,'Little Women' Original Broadway Cast,[],42.000000,2
19,'Til Tuesday,"['boston rock', 'dance rock', 'new romantic', ...",35.125000,16
20,((( O ))),"['latin', 'puerto rican pop', 'reggaeton', 'tr...",66.000000,2
21,(Con La Participación De Eros Ramazzotti),[],43.000000,2
22,(Con La Participación de Marc Anthony),[],44.000000,2
23,(G)I-DLE,"['k-pop', 'k-pop girl group']",74.666667,3
24,(Hed) P.E.,"['alternative metal', 'industrial metal', 'nu ...",45.800000,10
25,*NSYNC,"['boy band', 'dance pop', 'europop', 'pop']",45.794872,78
26,+44,[],43.750000,8
27,-,"['alternative pop rock', 'neon pop punk', 'pop...",55.000000,2
28,...And You Will Know Us by the Trail of Dead,"['alternative rock', 'dance-punk', 'indie rock...",35.000000,2
29,...Bender,[],42.000000,2
...,...,...,...,...
27591,秋元薫,"['future funk', 'japanese city pop']",41.000000,4
27592,童安格,"['c-pop', 'classic mandopop']",41.000000,6
27593,笠井 紀美子,"['classic japanese jazz', 'japanese vocal jazz']",38.000000,1
27594,紫薇,['vintage chinese pop'],9.945455,110
27595,羅大佑,"['c-pop', 'chinese indie', 'classic cantopop',...",34.000000,10
27596,舒芳,[],22.000000,8
27597,葉歡,['classic mandopop'],38.000000,2
27598,葛蘭,[],2.619048,42
27599,蔡楓華,"['c-pop', 'classic cantopop']",34.000000,2
27600,蔣志光,['classic cantopop'],40.000000,1
27601,藍戰士,['classic cantopop'],33.000000,2
27602,虞戡平,[],40.000000,2
27603,謝雷,[],21.125000,80
27604,賴佩霞,[],23.000000,2
27605,辛曉琪,"['c-pop', 'classic mandopop']",46.500000,4
27606,那英,"['c-pop', 'classic mandopop', 'mainland chines...",46.500000,4
27607,鄒森,[],20.000000,20
27608,鄭怡,"['c-pop', 'classic mandopop', 'taiwan campus f...",47.000000,1
27609,金智娟,[],47.000000,1
27610,鈴木 弘,['classic japanese jazz'],32.333333,6
27611,陳秀男,['taiwan campus folk'],44.000000,2
27612,陳蘭麗,['taiwan campus folk'],34.000000,2
27613,霜華雪華,[],23.153846,104
27614,韋綺珊,[],40.000000,1
27615,高慧君,[],52.000000,2
27616,鳳飛飛,"['c-pop', 'classic mandopop', 'vintage chinese...",35.000000,2
27617,黃品源,"['c-pop', 'classic cantopop', 'classic mandopop']",47.000000,2
27618,黃國隆,[],20.000000,11
27619,黃蜀娟,[],23.000000,42
27620,黑豹,"['chinese indie', 'chinese indie rock']",34.000000,2

In [9]:
data.drop(['artists'],axis=1)

                                                  genres  popularity  count
0                                         ['show tunes']   38.000000     12
1                                                     []   33.076923     26
2                                                     []   34.285714      7
3                                                     []   34.444444     27
4                                                     []   42.555556      9
5                                                     []   34.166667     36
6                                                     []    0.000000      2
7                                                     []   36.000000      1
8                                                     []    2.000000      2
9      ['antiviral pop', 'comedy rock', 'comic', 'par...   33.681818    132
10                                                    []   62.666667      6
11     ['east coast hip hop', 'gangster rap', 'hardco...   64.625000      8
12                                                    []   58.000000      1
13     ['dark trap', 'new orleans rap', 'underground ...   61.647541    122
14                                                    []   52.000000      1
15                            ['broadway', 'show tunes']   46.588235     17
16               ['broadway', 'hollywood', 'show tunes']   48.166667     12
17                                        ['show tunes']   49.000000      2
18                                                    []   42.000000      2
19     ['boston rock', 'dance rock', 'new romantic', ...   35.125000     16
20     ['latin', 'puerto rican pop', 'reggaeton', 'tr...   66.000000      2
21                                                    []   43.000000      2
22                                                    []   44.000000      2
23                         ['k-pop', 'k-pop girl group']   74.666667      3
24     ['alternative metal', 'industrial metal', 'nu ...   45.800000     10
25           ['boy band', 'dance pop', 'europop', 'pop']   45.794872     78
26                                                    []   43.750000      8
27     ['alternative pop rock', 'neon pop punk', 'pop...   55.000000      2
28     ['alternative rock', 'dance-punk', 'indie rock...   35.000000      2
29                                                    []   42.000000      2
...                                                  ...         ...    ...
27591               ['future funk', 'japanese city pop']   41.000000      4
27592                      ['c-pop', 'classic mandopop']   41.000000      6
27593   ['classic japanese jazz', 'japanese vocal jazz']   38.000000      1
27594                            ['vintage chinese pop']    9.945455    110
27595  ['c-pop', 'chinese indie', 'classic cantopop',...   34.000000     10
27596                                                 []   22.000000      8
27597                               ['classic mandopop']   38.000000      2
27598                                                 []    2.619048     42
27599                      ['c-pop', 'classic cantopop']   34.000000      2
27600                               ['classic cantopop']   40.000000      1
27601                               ['classic cantopop']   33.000000      2
27602                                                 []   40.000000      2
27603                                                 []   21.125000     80
27604                                                 []   23.000000      2
27605                      ['c-pop', 'classic mandopop']   46.500000      4
27606  ['c-pop', 'classic mandopop', 'mainland chines...   46.500000      4
27607                                                 []   20.000000     20
27608  ['c-pop', 'classic mandopop', 'taiwan campus f...   47.000000      1
27609                                                 []   47.000000      1
27610                          ['classic japanese jazz']   32.333333      6
27611                             ['taiwan campus folk']   44.000000      2
27612                             ['taiwan campus folk']   34.000000      2
27613                                                 []   23.153846    104
27614                                                 []   40.000000      1
27615                                                 []   52.000000      2
27616  ['c-pop', 'classic mandopop', 'vintage chinese...   35.000000      2
27617  ['c-pop', 'classic cantopop', 'classic mandopop']   47.000000      2
27618                                                 []   20.000000     11
27619                                                 []   23.000000     42
27620            ['chinese indie', 'chinese indie rock']   34.000000      2

[27621 rows x 3 columns]

In [10]:
data["average rating"] = data["popularity"] * data["count"]

In [11]:
data.sort_values('average rating',ascending=False,inplace=True)

In [12]:
data.head()

,artists,genres,popularity,count,average rating
23445,The Beatles,"['beatlesque', 'british invasion', 'classic ro...",48.060753,823,39554.0
24542,The Rolling Stones,"['album rock', 'british invasion', 'classic ro...",34.573913,1035,35784.0
8103,Frank Sinatra,"['adult standards', 'easy listening', 'lounge']",26.004383,1369,35600.0
2924,Bob Dylan,"['album rock', 'classic rock', 'country rock',...",30.860806,1092,33700.0
7142,Elvis Presley,"['rock-and-roll', 'rockabilly']",33.391919,990,33058.0

In [13]:
#Recommended artist

data["artists"].head(1)

23445    The Beatles
Name: artists, dtype: object